$common-white: #fff;
$background-default: #0a0614;
$background-paper: #140d27;
$primary-main: #c26df0;
$primary-dark: #8c3bb8;
$primary-light: #d991ff;
$primary-hover: rgba(194, 109, 240, 0.2);
$primary-contrastText: #ffffff;
$error-main: #c62828;
$error-dark: #8a1c1c;
$error-light: #d15353;
$error-contrastText: #fff;
$text-primary: #ffffff;
$text-secondary: #dcd9fd;
$action-focus: rgba(194, 109, 240, 0.12);
$action-hover: rgba(194, 109, 240, 0.08);
$divider: rgba(211, 82, 255, 0.2);
